@model InternLeaveandPaymentUI.Domain.ViewModels.AddInternLeaveVM
@{
    ViewData["Title"] = "AddInternLeave";
}

<div>
    <div>
        <p>İzin Formu</p>
    </div>
    <div>
        <div><p>İzin Türü</p></div>
        <div>
            <div>
                <input type="checkbox"  name="Checkbox">
                <label for="Checkbox">Özel İzin</label>
            </div>
            <div>
                <input type="checkbox"  name="ExamCheckbox">
                <label for="ExamCheckbox">Sınav İzni</label>
            </div>
        </div>
    </div>
    <div>
        <div>
            <input type="text"  name="NameSurname">
            <label for="Checkbox">Adı-Soyadı</label>
        </div>
        <div>
            <div>
                <label for="departman">Departman/İşletme</label>
                <input type="text" name="departman">
            </div>
            <div>
                <label for="check">Onaya Gidecek Kişi:</label>
                <input type="text" name="check">
            </div>
        </div>
    </div>
    <div>
        
    </div>


</div>

