body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    gap: 20px;
}

.button {
    padding: 20px 40px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .button:hover {
        background-color: #0056b3;
    }


