
@{
    ViewData["Title"] = "AddIntern";
}
<link href="../wwwroot/css/Intern/addintern.css" rel="stylesheet" />
<style>
    /* Butonu sağ üste taşı */
    .btn-container {
        display:flex;
        justify-content:end;
    }
</style>
<h1>Stajyer Kaydı - Yeni</h1>
<div>
    <form action="/" method="post">
        <div class="flex">
            <div>
                <div class="altalta">
                    <label for="internname">Adı:</label>
                    <input type="text" id="internname" name="internname">
                </div>
                <div class="altalta">
                    <label for="internsurname">Soyadı:</label>
                    <input type="text" id="internsurname" name="internsurname">
                </div>
                <div class="altalta">
                    <label for="username">Şirketi:</label>
                    <select class="form-control">
                    </select>
                </div>
                <div class="altalta">
                    <label for="internschool">Okulu:</label>
                    <input type="text" id="internschool" name="internschool">
                </div>
                <div class="yanyana">
                    <div class="altalta yanyana">
                        <label for="interncontactperson">Aranacak Kişi-İletişim:</label>
                        <input type="text" id="interncontactperson" name="interncontactperson">
                    </div>
                    <div class="altalta yanyana">
                        <label for="interncontactphone"></label>
                        <input type="text" id="interncontactphone" name="interncontactphone">
                    </div>
                </div>
                <div class="yanyana">
                    <div class="altalta yanyana">
                        <label for="internteacher">Sorumlu Okul Hocası-İletişim:</label>
                        <input type="text" id="internteacher" name="internteacher">
                    </div>
                    <div class="altalta yanyana">
                        <label for="internteacherphone"></label>
                        <input type="text" id="internteacherphone" name="internteacherphone">
                    </div>
                </div>
            </div>
            <div>
                <div class="altalta">
                    <label for="city">İkamet(İl/İlçe)</label>
                    <input type="text" id="city" name="city">
                </div>
                <div class="altalta">
                    <label for="department">Departman:</label>
                    <select class="form-control">
                    </select>
                </div>
                <div class="altalta">
                    <label for="schooldepartment">Departman/İşletmesi</label>
                    <input type="text" id="schooldepartment" name="schooldepartment">
                </div>
                <div class="altalta">
                    <label for="interntype">Staj Türü:</label>
                    <select class="form-control">
                    </select>
                </div>
            </div>
            <div>
                <div class="altalta">
                    <label for="internphone">Cep Telefonu</label>
                    <input type="text" id="internphone" name="internphone">
                </div>
                <div class="altalta">
                    <label for="manager">Sorumlu Kişi:</label>
                    <select class="form-control">
                    </select>
                </div>
                <div class="altalta">
                    <label for="interndays">Staj Günleri:</label>
                    <select class="form-control">
                    </select>
                </div>
            </div>
            
        </div>
        <div class="btn-container">
            <button class="btn btn-dark">
                KAYDET
            </button>
        </div>
    </form>
</div>
