@model InternLeaveandPaymentUI.Domain.ViewModels.UserInformationVM
@{
    Layout = null;
}

@if (Model != null)
{
    <div>
        <p>@Model.Department : @Model.UserName @Model.UserSurname</p>

    </div>
}
